<?xml version="1.0"?>
<robot name="quadcopter">
  <link name="base_link">
    <!-- Visual representation using the DAE mesh file -->
    <visual>
      <origin xyz="-0.828 -0.717 -0.0375" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quadcopter_control/meshes/quad_cad.dae" scale="0.3 0.3 0.3"/>
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1"/>
      </material>
    </visual>

    <!-- Collision representation using the DAE mesh file -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://quadcopter_control/meshes/quad_cad.dae" scale="0.3 0.3 0.3"/>
      </geometry>
    </collision>
  </link>
</robot>
